{{ define "main" }}
  <div class="photo-grid">
    {{ range .Pages }}
      <div class="photo-item">
        {{/* Get the image from the Page Bundle */}}
        {{ $image := .Resources.GetMatch "*{jpg,png,jpeg}*" }}
        <a href="{{ .Permalink }}">
          {{ with $image }}
            {{/* Generate WebP for smaller files */}}
            {{ $webp := .Fill "600x600 Center webp q80" }}

            {{ $fallback := .Fill "600x600 Center" }}
            <picture>
                <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                <img src="{{ $fallback.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
            </picture>
          {{ end }}
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}