{{ define "main" }}
<article class="photo-single-container">
  
  <header class="top-header">
    <h1 class="photo-title">{{ .Title }}</h1>
    <time class="photo-date">{{ .Date.Format "Jan 2 2006" }}</time>
  </header>

  <div class="photo-display">
    {{ $image := .Resources.GetMatch "*{jpg,png,jpeg}*" }}
    
    {{ with $image }}
    {{/* Generate WebP for smaller files */}}
    {{ $webp := .Resize "1200x webp q80" }}
    
    {{/* Fallback to the resized original */}}
    {{ $fallback := .Resize "1200x" }}
    <a href="#lightbox" title="Click to view full size">
        <picture>
            <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
            <img src="{{ $fallback.RelPermalink }}" alt="{{ $.Title }}" class="main-photo" loading="lazy">
        </picture>
    </a>
 
    <div id="lightbox" class="lightbox-overlay">
        <a href="#" class="lightbox-close"></a>
        <div class="lightbox-content">
            <img src="{{ .RelPermalink }}" alt="{{ $.Title }}">
            <a href="#" class="close-button">&times;</a>
        </div>
    </div>
    {{ end }}
  </div>

  <div class="photo-content">
    {{ .Content }}
  </div>

  <footer class="photo-footer">
    <div class="tags-container">
      <ul class="post-tags">
      {{ range .GetTerms "tags" }}
        {{ $photoLink := .OutputFormats.Get "photogrid" }}
        <li><a href="{{ $photoLink.RelPermalink }}">#{{ .LinkTitle }}</a></li>
      {{ end }}
      </ul>
    </div>
  </footer>

</article>
{{ end }}